/* style.css */
h1 {
  color: #3498db; 
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #3498db;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.edit-form-container {
  margin-top: 20px;
}



/* EditForm.css */

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #3498db; 
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

button[type="submit"] {
  background-color: #3498db;
  margin-right: 10px;
}