

/* Style du titre */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style du bouton "Nouvelle Offre" */
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Style du tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Style des boutons d'action dans chaque ligne du tableau */
td button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

td button:hover {
  background-color: #e74c3c;
  color: #fff;
}

/* Style de la modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
